:root { 
--cor-fundo-body: #1F2937;
  --cor-fundo-card: #F9FAFB;
  --cor-texto-principal: #111827;
  
  --cor-botao-hover: #4d87f3;
  --cor-limpar-hover: #f0252592;

  --cor-botao-mulher: #ca6f1e;
  --cor-botao-homem:  #265802a6;

  --cor-link-footer: #4d87f3;
  --cor-borda-botao-hover: rgba(0, 0, 0, 0.055);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;    
    }

    body { 
        background-color: var(--cor-fundo-body);
        color: var(--cor-texto-principal);

    }

    #principal {
    background-color: var(--cor-fundo-card);
    color: var(--cor-texto-principal);
    border-radius: 10px;
    padding: 15px;
    margin: 50px 100px 20px 100px;
    min-width: 70%;
    border: solid 1px rgba(0, 0, 0, 0.003);      
        
    }

    h1 {
        margin:10px 0px;     
        text-align: center;
        font-size: 40px;        
    }
    
    h2 {
        margin: 5px 0 0 10px;  
    }

#infoTexto {
    text-align: justify;
    margin-left: 10px;
    margin-top: 5px;  
    margin-right: 35px;
    line-height: 26px;
}

#btnSexo {
    margin-top: 10px;
    margin-left: 10px;
}

#btnHomem {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 120px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.273);
    transition: 0.3s;
    border-radius: 4px;
}

#btnHomem:hover {
    background-color: #265802a6;
    border-color: var(--cor-borda-botao-hover);
    border: 1px solid rgba(0, 0, 0, 0.055);
    transition: 0.3s;  
}

#btnMulher {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.273);
    transition: 0.3s;
    border-radius: 4px;
}

#btnMulher:hover {
    background-color: #ca6f1e
}

.selectHomem {
    background-color: var(--cor-botao-homem);
    border-color: var(--cor-borda-botao-hover);
    border: 1px solid rgba(0, 0, 0, 0.055);   

}

.selectMulher {
    background-color: var(--cor-botao-mulher);
    border-color: var(--cor-borda-botao-hover);
    border: 1px solid rgba(0, 0, 0, 0.055);  

}

#formularioIMC {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 5px;    
}

input[type="text"] {
    display: block;
    margin-bottom: 7px;
    width: 90px;
    padding: 10px ;
    border: 1px solid rgba(0, 0, 0, 0.273);
    border-radius: 4px;
}

input[type="submit"] {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 5px;
    width: 180px;
    padding: 10px;
    cursor: pointer;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.273);
    transition: 0.3s;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: var(--cor-botao-hover);
    border-color: var(--cor-borda-botao-hover);
    border: 1px solid rgba(0, 0, 0, 0.055);
    transition: 0.3s;      
}

#limparCampos {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.273);
    transition: 0.3s;
    border-radius: 4px;     
}

#limparCampos:hover {
    background-color: var(--cor-limpar-hover);
    border-color: var(--cor-borda-botao-hover);
    border: 1px solid rgba(205, 15, 15, 0.055);
    transition: 0.3s;  
    
}

#ultimoResultado {
    margin: 10px 0 8px 10px; 
    font-weight: bold;
    line-height: 15px;
    font-size: 17px;

}

#valorIMC {
    margin: 5px 0 0 10px ;
    line-height: 22px;
    font-size: 17px;
    
}

footer {    
    background-color: var(--cor-fundo-body);
    color: var(--cor-fundo-card);
    text-align: center;
    position: fixed;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

footer a {
    color: var(--cor-link-footer);
    text-decoration: none;    
}
